/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

$light: #525252;

// Navigation element colors
$footer-bg: #181818;
$navbar-bg: #303030;
$sidebar-bg: #303030;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;


/*-- scss:rules --*/

.layout-example {
  background: $gray-700;
}

.render-commit-push {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #181818 5px center/3em no-repeat;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  background-image: url("images/render-commit-push.png");
  background-size: 2em;
  background-position: 0.5em 0.5em;
}

.pull {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #181818 5px center/3em no-repeat;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  background-image: url("images/pull.png");
  background-size: 2em;
  background-position: 0.5em 0.5em;
}