/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color	: #5B888C;
$presentation-title-slide-text-align: "left";
