/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Atkinson Hyperlegible";
$presentation-heading-color	: #5B888C;
$presentation-title-slide-text-align: "left";

/*-- scss:rules --*/

.reveal .slide .section-cover h1 {
  background: #FF0000;
}